@font-face {
    font-family: elsofont;
    src: url(font1.ttf);
}

body{
    box-sizing: border-box;
    background-image: url(containerbackground.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: elsofont;

}

.navbar{
    width: 101vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9999);

    margin-left: -1vw;
    margin-top: -1.5vh;

    display: flex;
    justify-content: space-evenly;
    position: absolute;

    backdrop-filter: 40%;
    z-index: 1;
}

.nav-element{
    font-family: elsofont;
    color: white;
    font-size: 60px;
    margin-top: 2vh;
}

.hoverunderline:hover{
    text-decoration: underline;
    cursor: pointer ;
}

#nav-image{
    width: 100%;
    float: right;
    margin-top: -0.5vh;
}

#navimage{
    width: 20%;
    margin-left: 20%;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.9);

    margin: auto;
    padding-top: 10vh;

    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;

}

.container::-webkit-scrollbar {
    display: none;
  }
  
.container {
    -ms-overflow-style: none; 
    scrollbar-width: none;  

}

.section1{
    height: 80vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 70%;

}


#herotitle{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 200px;
    padding-top: 0%;
   

}
     
@keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.section2{
    color: white;
    padding-top: 20vh;
    height: 80vh;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5%;

    display: flex;
}

.left-side{
    width: 30%;
    margin-left: 15%;
}

.right-side{
    width: 60%;
    font-size: 30px;
    float: left;
}

.image-section2{
    height: 60vh;
    width: 100%;
    border: 2px solid white;
}

.fejlesztok {
    padding-left: 5vh;
}

.items{
    padding-left: 10%;
}


.section3 {
    color: white;
    padding-top: 20vh;
    height: 80vh;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5%;

    display: flex; 
}

.left {
    width: 20%;
    height: 60vh;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-left: 10%;
}

.right {
    margin-left: 1vw;
    float: left;
    width: 60%;
    height: 60vh;

}

.banner {
    background-image: url(start.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
}

.banner-title{
    border-bottom: 2px solid white;
}


.section4 {
    color: white;
    padding-top: 20vh;
    height: 80vh;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5%;

}

.section4h1{
    width: 100%; text-align: center; font-size: 120px;
}

.section4h5 {
    width: 70%; text-align: center; font-size: 50px; margin: auto; margin-top: -10vh;color: white;
}

.span1 {
    font-size: 50px;
}

@media only screen and (min-width: 2560px) {
    .nav-element{
        margin-top: 4vh;
    }

    #herotitle{
        margin-top: 30vh;
    }

    .section4h5{
        margin-top: 5vh;
        font-size: 45px;
    }
}
@media only screen and (max-width: 2560px) {
    #herotitle{
        margin-top: 30vh;    
    }

}
@media only screen and (max-width: 1440px) {
    #nav-image{
        width: 100%;
        float: right;
        margin-top: 1vh;
    }
    .nav-element{
        font-size: 45px;
    }
    #herotitle{
        font-size: 150px;
    }
    .section4h1{
        font-size: 60px;
        margin-bottom: 0;
    }
    .section4h5{
        margin-top: 0vh;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #nav-image{
        width: 100%;
        float: right;
        margin-top: 1vh;
    }
    .nav-element{
        font-size: 45px;
    }
    #herotitle{
        font-size: 100px;
    }

    .right-side{
        width: 60%;
        font-size: 20px;
        float: left;
    }

    .span1{
        font-size: 20px;
    }

    .banner-title{
        font-size: 20px;
    }

    .section4h1{
        font-size: 60px;
    }
    .section4h5{
        margin-top: 5vh;
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-element{
        font-size: 25px;
    }
    #nav-image{
        width: 100%;
        float: right;
        margin-top: 1vh;
    }
    #herotitle{
        font-size: 70px;
    }

    .right-side{
        width: 60%;
        font-size: 15px;
        float: left;
    }

    .image-section2 {
        height: 30vh;
    }

    .section3{
        padding-top: 40vh;
    }


    .span1{
        font-size: 20px;
    }

    .banner-title{
        font-size: 20px;
    }

    .section4h1{
        font-size: 60px;
        margin-bottom: 0;
    }
    .section4h5{
        margin-top: 0vh;
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px) {
    .nav-element{
        font-size: 25px;
    }
    #nav-image{
        width: 100%;
        float: right;
        margin-top: 1vh;
    }
    #herotitle{
        font-size: 60px;
    }

    .right-side{
        width: 60%;
        font-size: 15px;
        float: left;
    }

    .image-section2 {
        height: 30vh;
    }

    .section3{
        padding-top: 40vh;
    }


    .span1{
        font-size: 20px;
    }

    .banner-title{
        font-size: 20px;
    }

    .section4h1{
        font-size: 60px;
        margin-bottom: 0;
    }
    .section4h5{
        margin-top: 0vh;
        font-size: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .nav-element{
        font-size: 20px;
    }
    #nav-image{
        width: 100%;
        float: right;
        margin-top: 0vh;
    }
    #herotitle{
        font-size: 50px;
    }

    .right-side{
        width: 60%;
        font-size: 14px;
        float: left;
    }

    .image-section2 {
        height: 30vh;
    }

    .section3{
        padding-top: 20vh;
    }


    .span1{
        font-size: 20px;
    }

    .banner-title{
        font-size: 20px;
    }

    .section4h1{
        font-size: 50px;
        margin-bottom: 0;
    }
    .section4h5{
        margin-top: 0vh;
        font-size: 20px;
    }
}